html {
  height: 100%;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px, 20px;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li:hover {
  text-decoration: underline;
}

.right-navbar {
  display: flex;
  align-items: center;
}

#apps-icon {
  margin-right: 8px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  
  }

.google-logo {
  display: flex;
  position: relative;
  top: 50px;
  left: 70px;
  
  
}

#search-box {
  display: block;
  border-radius: 25px;
  border: solid 1px #dfe1e5;;
  font-size: 16px;
  padding-top:14px;
  padding-bottom: 14px;
  padding-left: 40px;
  width: 600px;
  margin-bottom: 25px;
}

footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom:0;
  left: 0;
  width:100%;
  background-color: #f2f2f2;
}

footer li {
  display: inline-block;
  margin-right: 10px;
}


footer li a:hover {
  text-decoration: underline;
}


form {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 10px;
  left: 14px;
}

.mic-and-camera-icon {
  position: absolute;
  right: 5px;
  top: -5px;
  cursor: pointer;
}

.buttons  {
  display: flex;
  justify-content: center;
}

 .buttons button  {
  margin-right: 20px;
  padding: 10px 20px;
   border: none;
   cursor: pointer;
 }
  
  
  
  
  
  
  